In [ ]:
#Guides: https://cryptomarketpool.com/use-the-graph-to-query-ethereum-data-in-python/

#https://docs.uniswap.org/sdk/subgraph/subgraph-data
#https://thegraph.com/hosted-service/subgraph/messari/uniswap-v3-polygon

In [ ]:
import datetime
import requests
import numpy as np
import pandas as pd
import pprint
import math
import json

In [ ]:
# function to use requests.post to make an API call to the subgraph url
def run_query(q):

    # endpoint where you are making the request
    request = requests.post('https://api.thegraph.com/subgraphs/name/messari/uniswap-v3-arbitrum'
                            '',
                            json={'query': query})
    if request.status_code == 200:
        return request.json()
    else:
        raise Exception('Query failed. return code is {}.      {}'.format(request.status_code, query))

query = """

{
  liquidityPool(id: "0xc6f780497a95e246eb9449f5e4770916dcd6396a") {
    dailySnapshots(orderBy: timestamp, orderDirection: desc) {
      dailyVolumesUSD
      totalValueLockedUSD
      timestamp
    }
  }
}
"""
result1 = run_query(query)

In [ ]:
df = pd.DataFrame(result1['data']['liquidityPool']['dailySnapshots'])
df['datetime'] = df['timestamp'].apply(lambda x: datetime.datetime.utcfromtimestamp(int(x)))
display(df)

,dailyVolumesUSD,totalValueLockedUSD,timestamp,datetime
0,"[24110557.38493415027989104867257, 24110557.38...",15648962.32985567940104829732066581,1688083169,2023-06-29 23:59:29
1,"[36100824.34734119669727089734765, 36100824.34...",15332209.92742152707691481581997452,1687996723,2023-06-28 23:58:43
2,"[55215679.90120510027775851249625, 55215679.90...",15960310.20990212366617453874471005,1687910391,2023-06-27 23:59:51
3,"[53027873.57116672453083195335739, 53027873.57...",15760524.60580696291773522665371175,1687823970,2023-06-26 23:59:30
4,"[27199357.08235086349797364045822, 27199357.08...",15411602.28963709754005890010919784,1687737595,2023-06-25 23:59:55
...,...,...,...,...
95,"[95700857.76588742051412904142774, 95700857.76...",10475626.88842339922313457625672537,1679875184,2023-03-26 23:59:44
96,"[87791842.09893166242324796871071, 87791842.09...",7806887.412880355622321860332547249,1679788779,2023-03-25 23:59:39
97,"[147377577.0877312099370097039049, 147377577.0...",5186096.88392085394244549531644212,1679702383,2023-03-24 23:59:43
98,"[51550066.21795075827228721590001, 51550066.21...",1100825.967740913208401463026420547,1679615999,2023-03-23 23:59:59
99,"[0, 0]",16.8687003,1679017754,2023-03-17 01:49:14